{%extends "core/base.html"%}
{% block content %}
<div class="container-fluid">
    <div class="content my-3 px-2">
        <div class="card shadow rounded-0">
            <div class="card-body">
                <div class="row justify-content-center">
                    <h3><u>Intructions / How To Use</u></h3>
                </div>
                <div class="row justify-content-center">
                    <p>This webpage has different features:</p>

                </div>
                <div class="row justify-content-center">
                    <p>
                        Log-In, Register, Add Item, Remove Items, Dashboard, Messages, Inbox and more 
                    </p>    
                </div>
                <div class="row justify-content-center">
                    <p>
                        Register and Login to use all of the webpage features
                    </p>
                </div>
                <div class="row justify-content-center">
                    <p>Finds us on LinkedIn / Github: ramirezj129 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}