{%extends "core/base.html"%}
{% block content %}
<div class="container-fluid">
    <div class="content my-3 px-2">
        <div class="card shadow rounded-0">
            <div class="card-body">
                <div class="row justify-content-center">
                    <h3><u>Our Contact Details</u></h3>
                </div>
                <div class="row justify-content-center">
                    <p>Our Telephone is 236-1014-0715</p>
                </div>
                <div class="row justify-content-center">
                    <p>Email us at: <a href="mailto:ramirez_javier780@yahoo.com">ramirez_javier780@yahoo.com</a></p>
                </div>
                <div class="row justify-content-center">
                    <p>Finds us on LinkedIn: ramirezj129</p>
                </div>
                <div class="row justify-content-center">
                    <p>And on Github: ramirezj129</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}