{%extends "core/base.html"%}
{% block content %}

<div class="header_items">
  <h2 class="new_items">Search Bar
    <form class="search_bar" method = "get" action="{% url 'search' %}">
      <input name= "query" type="text" value="{{query}}" placeholder="Search for an item" >
      <button class="button5" type="submit">
        Search
      </button>
    </form> 
</h2> 
</div>


<div class="grid_layout">
    {% for item in items %}
    <div class="images">
        <a href="{% url 'detail' item.id %}">
          <div>
            <img src="{{ item.image.url }}" class="images-xl" width="240" height="195" >
          </div>
        </a>
          <div>
             <h2 class="item_names"> {{item.name}} </h2>
             <p class="price_item">Price: {{item.price}} </p>
          </div>
    </div>
    {%endfor%}
  </div>

 
{% endblock %}